.main-layout {
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}


.main-layout::before {
  content: "";
  inset: 0;
  z-index: 0;
  pointer-events: none;
}



